<div class="telegram">
    <div class="telegram-text">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        <p>SELECT</p>
        <p>@Html.ActionLink("NEW FLEET", "NewFleet", "Fleet")</p>
        <p>@Html.ActionLink("EDIT FLEET", "EditFleet", "Fleet")</p>
        <p>OR</p>
        <p>@Html.ActionLink("ADD UNIT(S)", "AddUnit", "Fleet")</p>

    </div>
    
</div>
<span>
    <button>Save Unit</button>
    <button>Cancel</button>
</span>
