<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
        <meta charset="utf-8" />
        <title>War at Sea - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
            <div class="title">
                <p class="site-title">War at Sea</p>
            </div>
                <nav>
                     <ul id="menu">
                         <li>@Html.ActionLink("Home", "Index", "Home")</li>
                         <li>@Html.ActionLink("Rules", "Rules", "Home")</li>
                         <li>@Html.ActionLink("Login", "Login", "Account")</li>
                         <li>@Html.ActionLink("Fleets", "Build", "Fleet")</li>
                         <li>@Html.ActionLink("Play", "Play", "Game")</li>
                         <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                     </ul>
                </nav>
             </div>
        </header>
        </br> @*Insert styling to add padding to the divs and get rid of line breaks*@
        <div class="viewBagMessage">
            @ViewBag.Message
        </div>
        </br>
        <div id="body">
            <section>
                @RenderBody() @* Not sure what this is actually rendering*@
            </section>
        </div>
        @RenderSection("scripts", required: false)  @*Not sure what this is actually rendering*@
    </body>
</html>
