<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
        <meta charset="utf-8" />
        <title>War at Sea - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
            <div class="title">
                <p class="site-title">War at Sea</p>
            </div>
                <nav>
                     <ul id="menu">
                          <li>@Html.ActionLink("Home", "Index", "Home")</li>
                          <li>@Html.ActionLink("About", "About", "Home")</li>
                          <li>@Html.ActionLink("Build A Fleet", "Fleet", "Home")</li>
                          <li>@Html.ActionLink("Play", "Play", "Home")</li>
                     </ul>
                </nav>
             </div>
        </header>

        <div id="body">
            <section>
                @RenderBody()
            </section>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
