
<div class="telegram">
    <div class="telegram-text">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        <p class="telegram-li">@Html.ActionLink("FLEET BUILDING", "NewFleet", "Fleet")</p>
        <p class="telegram-li">@Html.ActionLink("BASIC RULES", "EditFleet", "Fleet")</p>
        <p class="telegram-li">@Html.ActionLink("ADVANCED RULES", "FleetBuildingRules", "Home")</p>
        <p class="telegram-li">@Html.ActionLink("SCENARIOS", "Scenarios", "Home")</p>

    </div>
</div>